<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar-fichaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="!tieneFichajeAbierto">
    <ion-item>
      <ion-label>Trabajo:</ion-label>
      <ion-select [(ngModel)]="trabajoSeleccionado">
        <ion-select-option *ngFor="let t of trabajos" [value]="t.IdTrabajo">
          {{ t.Nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="iniciarFichaje()">Iniciar
      fichaje</ion-button>
  </ng-container>

  <ng-container *ngIf="tieneFichajeAbierto">
    <p>Tienes un fichaje abierto desde {{ fichajeAbierto.FechaHoraEntrada
      | date:'short' }}.</p>
    <ion-button expand="full" color="danger" (click)="cerrarFichaje()">Cerrar fichaje</ion-button>
  </ng-container>

</ion-content>