<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gestion-usuarios">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion-trabajos">
      <ion-icon aria-hidden="true" name="briefcase"></ion-icon>
      <ion-label>Trabajos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion-fichajes">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Fichajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>